/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
/* Utilities */
@import url("components/cards.css");
@import url("components/buttons.css");

/* Custom design below! */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fafaf9;
  color: #292524;
}

a {
  text-decoration: none;
  color: #292524;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.center {
  text-align: center;
}

.hero {
  background-color: #1b1b1b;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(13, 13, 13, 0.305)), url(../images/agro.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0 0 50% 50%;
  height: 40rem;
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  color: #fff;
}

.text-large {
  font-size: 42px;
  font-weight: 600;
}

.text-normal {
  font-size: 20px;
  font-weight: 400;
}

.text-small {
  font-size: 1rem;
  font-weight: 400;
}

.icon {
  font-size: 1.6rem;
  color: #ffffff;
  padding: 1.5rem;
  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  box-sizing: border-box;
}

.icon-blue {
  background-color: #1d4ed8;
}

.icon-green {
  background-color: #2c9e4b;
}

.icon-orange {
  background-color: #ea580c;
}

.icon-red {
  background-color: #dc2626;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  max-width: 200px;
  margin: 0 auto;
  filter: grayscale(100%);
}

.logos img {
  object-fit: cover;
  object-position: center;
}

footer {
  background-color: #fff;
  padding: 2rem 0;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-icons a {
  font-size: 1.5rem;
}



@media screen and (max-width: 768px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero {
    height: auto;
    padding: 4rem 0;
    border-radius: 0 0 2rem 2rem;
  }

  .hero-content {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 480px) {
  .grid-2,
  .grid-3 {
    grid-template-columns: 1fr;
  }

  .text-large {
    font-size: 28px;
  }

  .text-normal {
    font-size: 18px;
  }

  .hero {
    border-radius: 0;
  }
}
